<main>
    <h1>INICIAR SESIÓN</h1>

    <form action="">
        <div class="field-form">
            <label for="">Seleccione un rol para iniciar sesión:</label>
            <select name="" #rol>
                <option value="Estudiante">Estudiante</option>
                <option value="Administrador">Administrador</option>
                <option value="Superadministrador">Superadministrador</option>
            </select>
        </div>
        <button type="button" (click)="iniciarSesion(rol.value)">Iniciar sesión</button>
    </form>
</main>