<nav>
    <ul>
        <li><a routerLink="/">Inicio</a></li>
        <li><a routerLink="administracion/cursos">Admin Cursos</a></li>
        <li><a routerLink="administracion/roles">Admin Roles</a></li>
        <li><a routerLink="estudiante/calificaciones">Calificaciones</a></li>
    </ul>
    <a routerLink="/iniciar-sesion" *ngIf="!rol">Iniciar sesión</a>
    <div *ngIf="rol">
        <a (click)="cerrarSesion()" class="logout">Cerrar sesión</a>
        <span>{{rol}}</span>
    </div>
</nav>
<router-outlet></router-outlet>