nav{
    background-color: aliceblue;
    height: 60px;
    display: flex;
    justify-content: space-between;
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        list-style: none;
        li{
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            a{
                font-size: 17px;
                color: #1a2d39;
                height: 60px;
                padding: 0 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                &:hover{
                    background-color: #8ac9ff;
                }
            }
        }
    }
    a{
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 17px;
        color: #1a2d39;
        height: 60px;
        padding: 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-decoration: none;
        &:hover{
            background-color: aquamarine;
        }
    }
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        span{
            font-size: 17px;
            padding: 0 20px;
            cursor: default;
            color: #0088ff;
            font-weight: bold;
        }
        .logout{
            &:hover{
                background-color: #ff9f9f;
            }  
        }
    }
}